@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('./inter-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('./inter-bold.ttf') format('truetype');
}